/* /src/index.css */

@import "tailwindcss";

@layer base {
  html {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: light dark;
    background-color: darkslateblue;
  }

  body {
    @apply bg-gradient-to-br from-indigo-500 via-purple-500 to-pink-400;
    @apply text-gray-800;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }

  .card-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .card-scrollbar::-webkit-scrollbar-thumb {
    background: #a78bfa;
    border-radius: 6px;
  }

  .card-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Для Firefox */
  .card-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #a78bfa transparent;
  }

  @media (prefers-color-scheme: light) {
    html {
      background-color: whitesmoke;
    }
  }
}